.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 10rem;
    height: 3rem;
}

.left-h {
    padding: 2rem;
    padding-top: 1.5rem;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: var(--orange);
}

.header-menu>li {
    cursor: pointer;
    transition: 240ms ease-in-out;
}

.header-menu>li:hover {
    color: red;
    scale: 1.5;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .header>:nth-child(2) {
        position: fixed;
        right: 2rem;
        z-index: 99;
    }

    .header-menu {
        flex-direction: column;
        background-color: var(--darkGrey);
        padding: 2rem;
    }
}