.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 10rem;
    height: 3rem;
}

.left-h {
    padding: 2rem;
    padding-top: 1.5rem;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: lightsalmon;
}

.header-menu>li {
    cursor: pointer;
    transition: 240ms ease-in-out;
}

.header-menu>li:hover {
    color: var(--orange);
    scale: 1.5;
    cursor: pointer;
}